body{background-image: url("https://images.pexels.com/photos/7352814/pexels-photo-7352814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-size:auto;
background-repeat: none;
}

.container{background-color: rgba(255, 255, 255, 0.7);
margin: 0 auto;
padding:15px;
font-size: 18px;
width:100%;
max-width: 750px;
border-radius: 20px;
margin-top: 40px;
margin-bottom: 40px;
font-family: "Lora", serif;
font-optical-sizing: auto;
font-weight: 200;
font-style: italic;
box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 20px 0px ;
  }

h1{
text-align: center;
}
h2{
font-size: 60px;
}

footer{
text-align: center;
}

select{
width:50%;
padding:10px;
border-radius:20px;
font-size: 20px;
font-family:"Lora", serif;}


.date-time{display:flex;
margin:0px;
justify-content: space-between;
border-bottom: 1px solid grey;
}

.time{font-size: 60px;
position:relative;
top:-30px}

.date{font-size: 20px;
margin:0px;}

a{text-decoration: none;
font-weight: 600;}
a:hover{text-decoration: underline;}

